
## xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

## ignore private workspace stuff added by Xcode4
xcuserdata
xcshareddata
project.xcworkspace
*.xcuserdata

## generic files to ignore
*~
*.DS_Store
*.swp
*.out

## my
tmp/*
libs/FFmpeg/*
output/*
plan


KxMovieExample/SampleMovies/*
